- var parallaxImg = "assets/img/parallax"
- var num = '0'

.parallax
    .rellax.tomato(data-rellax-speed=''+num)
      img(src=parallaxImg+'/tomato.png', alt='tomato')
    .rellax.pepper(data-rellax-speed=''+num)
      img(src=parallaxImg+'/pepper.png', alt='pepper')
    .rellax.strawberry(data-rellax-speed=''+num)
      img(src=parallaxImg+'/strawberry.png', alt='strawberry')
    .rellax.banana(data-rellax-speed=''+num)
      img(src=parallaxImg+'/banana.png', alt='banana')
    .rellax.apple(data-rellax-speed=''+num)
      img(src=parallaxImg+'/apple.png', alt='apple')
