- var parallaxImg = "assets/img/parallax"
- var num = '1'

.parallax
    .rellax.apple(data-rellax-speed=''+num)
      img(src=parallaxImg+'/apple.png', alt='apple')
    .rellax.banana(data-rellax-speed=''+num)
      img(src=parallaxImg+'/banana.png', alt='banana')
    .rellax.strawberry(data-rellax-speed=''+num)
      img(src=parallaxImg+'/strawberry.png', alt='strawberry')
    .rellax.apple-min(data-rellax-speed=''+num)
      img(src=parallaxImg+'/apple.png', alt='apple-min')
    .rellax.tomato(data-rellax-speed=''+num)
      img(src=parallaxImg+'/tomato.png', alt='tomato')
